/* Import the runo theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../runo/runo.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin mytheme {
  /* Include all the styles from the runo theme */
  @include runo;

  /* Insert your theme rules here */
     .layout-box {
		background: #black;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
		-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
  	}
  
    .footer_background {
  		background: #953735;
  		padding: 5px;
  	}
  
    .footer_font {
		color: #FFFFFF;
	}
	
	.filter_background {
		background: #AA953735;
		border-radius: 10px;
	}
}