@import "addons.scss";
@import "mytheme.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in mytheme.scss */
.mytheme {
  @include addons;

  // Include mytheme theme styles in your theme
  @include mytheme;
  
  	.footer_background {
  		background: #953735;
  		padding: 5px;
  	}
  
    .footer_font {
		color: #FFFFFF;
	}
}
