*.class

# Package Files #
*.jar
*.war
*.ear
/.settings
/.gradle
/bin
/build
/testfiles
/target
/src/main/webapp/VAADIN/gwt-unitCache
src/main/webapp/VAADIN/widgetsets/de.davherrmann.mvvm.demo.AppWidgetSet/*.cache.js
src/main/webapp/VAADIN/widgetsets/de.davherrmann.mvvm.demo.AppWidgetSet/deferredjs